{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec", {
        "prepareCmd": "python3 ./scripts/build.py ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github", {
        "assets": [{
          "path": "Echo Base's Unlimited v${nextRelease.version}.zip"
        }]
      }
    ]
  ],
  "branches": [ "main" ]
}
