{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec", {
        "prepareCmd": "./scripts/build.py ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github", {
        "assets": []
      }
    ]
  ],
  "branches": [ "main" ]
}
