{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec", {
        "prepareCmd": "python3 ./scripts/build.py ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github", {
        "assets": [{
          "path": "build.zip",
          "name": "Echo-Base-Unlimited-${nextRelease.gitTag}.zip"
        }]
      }
    ],
    [
      "semantic-release-discord-bot",
      {
        "notifications": [
        "branch": "release/*.x.x"
        ]
      }
    ]
  ],
  "branches": [ "main" ]
}
